/* style for web browsers  */

#left-side{
   float: left;
   width: 50%;
   height: 500px;
}
#map3
{
   border-radius: 10px;
   width:100%;
   height: 100%;
   float: left;
}
#right-side{
   float: right;
   width: 50%;
   height: 500px;

}
#friends
{
   height: 85%;
   width:100%;
   overflow-x: hidden;
   overflow-y: auto;
}
#friendsHeader
{
   width: 100%;
   margin-left: 30%;
   color: dimgray;
   
}
#addFriendButton
{
   float: right;
   width: 30px;
   height: 30px;
   margin-top: 20px;
   margin-right: 20px;
   border: none;
   border-radius: 5px;
   color: dimgray;
   
}
#addFriendButton:hover
{
   background-color: gainsboro;
   cursor:pointer;
   
}
#friends dl
{
   list-style-type: none;
   margin-left: 5%;
}
#friends dd 
{
   margin: 0;
   font-size: 13px;
   padding-bottom: 5px;
   padding-top: 5px;
}

#friends #time
{
   font-size: 11px;
}

#friend
{
   background-color: gainsboro;
   padding: 20px;
   margin-bottom: 20px;
   border-radius: 5px;
}


/* style for phone screens */
@media only screen and (max-width: 600px) {
#map3
{
   width: 100%;
   height: 400px;
}
   
    #drag-friends 
   {
      display:block;
      position: absolute;
      overflow-y: scroll;
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      background-color: white;
      border: 1px solid #d3d3d3;
      border-radius: 10px;
      
   }
   #drag-friends-header {
     padding: 10px;
     cursor: move;
     background-color: #f1f1f1;
     color: dimgray;
}
   #friends
   {
      float: left;
   }
   #left-side
   {
      float: none;
      width: 100%;
      margin: auto;
      height: 400px;
   }
   #right-side
   {
      display:none;
   }
   
   #friends dl
  {
   margin-left: 0%;
   
   }

}
