
/* Resources Page */
#resource-container
{
   height: 500px;
   width: 100%;
}
#campus-saftey
{
   width: 40%;
   float: left;
}

#campus-saftey h3
{
   text-align: center;
   padding: 0px 0% 10px 10%;
   margin: 10px 10px;
}

#campus-saftey a
{
   text-align: center;
   float: left;
   width: 90%;
   padding: 10px 10% 10px 10%;
   margin: 10px 10px;
   background-color:gainsboro;
   text-decoration: none; 
   color: dimgray;
   
   
}

#campus-security-default, #fire-ems-default, #public-saftey-default, #crime-action-default
{
   color: dimgray;
   background-color: gainsboro;
   
}
#campus-security-hover
{
   display: none;
   color: gainsboro;
   background-color: dimgray;
   
}

#campus-security:hover #campus-security-default
{
  display:none;
}


#campus-security:hover #campus-security-hover
{
   display: inline-block;
   color: gainsboro;
   background-color: dimgray;
   
}


#fire-ems-hover
{
   display: none;
   color: gainsboro;
   background-color: dimgray;
   
}

#fire-ems:hover #fire-ems-default
{
  display:none;
}


#fire-ems:hover #fire-ems-hover
{
   display: inline-block;
   color: gainsboro;
   background-color: dimgray;
   
}
#public-saftey-hover
{
   display: none;
   color: gainsboro;
   background-color: dimgray;
   
}

#public-saftey:hover #public-saftey-default
{
  display:none;
}


#public-saftey:hover #public-saftey-hover
{
   display: inline-block;
   color: gainsboro;
   background-color: dimgray;
   
}
#crime-action-hover
{
   display: none;
   color: gainsboro;
   background-color: dimgray;
   
}

#crime-action:hover #crime-action-default
{
  display:none;
}


#crime-action:hover #crime-action-hover
{
   display: inline-block;
   color: gainsboro;
   background-color: dimgray;
   
}


#hotlines 
{
   float: right;
   width: 40%;
}

#hotlines h3 
{
   text-align: center;
   padding: 0px 30% 10px 10%;
   margin: 10px 10px;
}



#hotlines a
{
   text-align: center;
   float: right;
   width: 100%;
   padding: 10px 10% 10px 10%;
   margin: 10px 10px;
   background-color:gainsboro;
   text-decoration: none; 
   color: dimgray;
   
}

#hotline1-default
{
   color: dimgray;
   background-color: gainsboro;
   
}
#hotline1-hover
{
   display: none;
   color: gainsboro;
   background-color: dimgray;
   
}

#hotline1:hover #hotline1-default
{
  display:none;
}


#hotline1:hover #hotline1-hover
{
   display: inline-block;
   color: gainsboro;
   background-color: dimgray;
   
}

#hotline2-default
{
   color: dimgray;
   background-color: gainsboro;
   
}
#hotline2-hover
{
   display: none;
   color: gainsboro;
   background-color: dimgray;
   
}

#hotline2:hover #hotline2-default
{
  display:none;
}


#hotline2:hover #hotline2-hover
{
   display: inline-block;
   color: gainsboro;
   background-color: dimgray;
   
}

#hotline1-default, #hotline2-default, #hotline3-default, #hotline4-default
{
   color: dimgray;
   background-color: gainsboro;
   
}
#hotline3-hover
{
   display: none;
   color: gainsboro;
   background-color: dimgray;
   
}

#hotline3:hover #hotline3-default
{
  display:none;
}


#hotline3:hover #hotline3-hover
{
   display: inline-block;
   color: gainsboro;
   background-color: dimgray;
   
}

#hotline4-hover
{
   display: none;
   color: gainsboro;
   background-color: dimgray;
   
}

#hotline4:hover #hotline4-default
{
  display:none;
}


#hotline4:hover #hotline4-hover
{
   display: inline-block;
   color: gainsboro;
   background-color: dimgray;
   
}

/* style for phone screens */
@media only screen and (max-width: 600px) {

  #campus-saftey
   {
      width: 100%;
   }
   
   #campus-saftey a
   {
      width: 100%;
   }
   #campus-security a
   {
     padding: 5% 0% 5% 0%;
   }
   
   
   #fire-ems a
   {
     padding: 5% 0% 5% 0%;
   }
   
   #public-saftey a
   {
     padding: 5% 0% 5% 0%;
   }
   
   #crime-action a
   {
     padding: 5% 0% 5% 0%;
   }
   
   #additional a
   {
      padding: 5% 0% 5% 0%;
     
   }
   

   #hotlines
   {
      width: 100%;
   }
   #hotlines h3
   {
      padding: 0px 0% 10px 10%;
   }
   
   #hotline1 a
   {
      padding: 5% 0% 5% 0%;
   }
   
   #hotline2
   {
      padding: 0% 0% 0% 20%;
   }
   #hotline3
   {
      padding: 0% 0% 0% 20%;
   }
   
   #hotline4
   {
      padding: 0% 0% 0% 20%;
   }
   #hotlines a
   {
      padding: 5% 5% 5% 5%;
   }
   #additional a
   {
      display: inline-block;
   }
   

}
   
   
    

